* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blue{
    background-color: blue;
}

body{
    background-color: aquamarine;
   
    
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 30px;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button, #level{
    width: 80px;
    background-color:lightgray;
}

.container h2{
    text-align: center;
    font-size: 2em;
}

.container{
    height: 81vh;
    
}

.container-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    
}

.controls, .easy, .medium, .hard{
    display: flex;
    justify-content: center;
    align-items: center;
}


.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
}

.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
}



.none {
    display: none;
  }

  /* .active{
    display: flex;  
  } */


  footer{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }